.slot {
  margin: 10px;
  padding: 12px 18px;

  background: #e2e8f0;
  color: #1e293b;

  border: none;
  border-radius: 8px;
  cursor: pointer;

  font-weight: 500;
  transition: 0.2s;
}

.slot:hover {
  background: #3b82f6;
  color: white;
}
